@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
  }
  input {
    @apply outline-none;
  }
}

.active {
  @apply bg-primary text-primary bg-opacity-20;
}

input:focus + .error-input {
  display: none;
}
